body {
    font-family: Arial, sans-serif;
}

.go-back-button {
    top: 10px; 
    left: 15px; 
    display: flex;
    align-items: left;
    padding: 4px 16px;
    border: 0px transparent #ccc;
    border-radius: 4px;
    background-color: white;
    color: #33333300;
    cursor: pointer;
    position: absolute;
}

.go-back-button:hover {
    background-color: #f0f0f0;
}

.go-back-button svg {
    margin-right: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar {
    position: fixed;
    Top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #08179c;
    color: #fff;
    padding: 20px;
    transition: left 0.5s;
}

.sidebar.active {
    left: 0;
}

.sidebar.inactive {
    left: -200px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.toggle-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #33333300;
    color: #000000;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
}



/* Add margin above the pagination controls */
.dataTables_wrapper .dataTables_paginate {
    margin-top: 20px; /* Adjust this value to increase/decrease spacing */
}

/* Default pagination button styling */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #2f6df4 !important;
    background-color: #f7fafc !important;
    border: 1px solid #cbd5e0 !important;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 4px;
}

/* Active pagination button styling */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    background-color: #2f6df4 !important;
    border-color: #2f6df4 !important;
}

/* Hover effect for pagination buttons */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    background-color: #9db5e7 !important;
    border-color: #819dd9 !important;
}


